<!doctype html>
<html>
<head>
    <title>MeadowlarK Travel</title>
    <link rel="stylesheet" href="/style/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <!--注意是三个括号，否则handlebars会转义html标签-->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <header><img src="/img/logo.png" alt="MeadowlarK Travel Logo"></header>
      </div>
    </nav>
    {{{body}}}
</body>
</html>